name: build_and_test

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    strategy:
      matrix:
        include:
        # Standard platforms with Python 3.9.
        - os: ubuntu-20.04
          OS_PYTHON_VERSION: 3.9

    runs-on: ${{ matrix.os }}
    env:
      OS_PYTHON_VERSION: ${{ matrix.OS_PYTHON_VERSION }}

    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-python@v3
      with:
        python-version: '3.9' # Version range or exact version of a Python version to use, using SemVer's version range syntax
        architecture: 'x64' # optional x64 or x86. Defaults to x64 if not specified
        cache: 'pip'
    - run: pip install -r requirements.txt
    - name: Install
      run: |
        pwd
        chmod +x install.sh
        ./install.sh
    - name: Build and test
      run: |
        python3 --version
        clang --version
        python3 generate_files.py

